@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
	font-family: 'Lato';
	background-color: #f0f0f0;
	margin: 0px auto;
	max-width: 1150px;
}

#overlay, #webgl {
	position: absolute;
	top: 0px;
	left: 0px;
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/

	width : 600px;
	height : 450px;
}

#videoel {
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/

	width : 600px;
	height : 450px;

	background: #000;
	//-webkit-transform: scaleX(-1) rotateZ(-5deg) rotateY(-5deg) rotatex(-5deg);
}

#video_wrapper {
	width: 600px;
	height: 455px;
	position: absolute;
}

#container {
	position : relative;
	width : 370px;
	-webkit-transition:-webkit-filter 2s linear;    
}

.video-message {
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -50px;
	color: #fff;
	background: #000;
	font-size: 32px;
	text-align: center;
	padding: 10px;
}

#container.sepia {
	-webkit-filter: sepia(70%) blur(0px);
}

#container.blur {
	-webkit-filter: sepia(70%) blur(8px);
}

#content {
	margin-top : 50px;
	margin-left : auto;
	margin-right : auto;
	max-width: 600px;
}
 
#sketch {
	display: none;
}

h2 {
	font-weight : 400;
}

.masks {
	display: none;
}

.btn {
	font-family: 'Lato';
	font-size: 16px;
}

#webgl2 {
	display : none;
}

#controls {
	text-align : center;
}

.widescreen_top, .widescreen_bottom {
	position: absolute;
	background: #000;
	width: 600px;
	height: 80px;
	z-index: 10;
}

.widescreen_top {
	top: 0;
}

.widescreen_bottom {
	bottom: 0;
}

.widescreen_left, .widescreen_right {
	width: 10px;
	height: 450px;
	background: #000;
	position: absolute;
	top: 0;
}

.widescreen_left {
	left: 0;
}

.widescreen_right {
	right: 0;
}